.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 300px;
}
.slick-prev {
    cursor: pointer;
    left: 68%;
    top: -5%;
    width:20px;
    height: 20px;
    z-index: 1000;
}
.slick-next{
    top: -5%;
    cursor: pointer;
    right: -13%;
    width: 20px;
    height: 20px;
}
.slider-color{
    background-color: black;
    color: white;
}
.slider-color-white{
    background-color: white;
}
.slick-dots {
    bottom: 374px;
    text-align: end;
}
.slick-dots li {
    margin:0;
}
.slick-next:before {
    content: '>';
    color: black;
}
.slick-prev:before {
    content: '<';
    color: black;
}
@media(max-width: 767px) {
    .slick-prev {
        left: 185px;
        top: -14%;
    }
    .slick-next {
        top: -14%;
        right: 11px;
    }
    .slick-dots {
        bottom: 374px;
        text-align: end;
        left: -33px;
    }
    .slick-slider{
        margin-top: 30px;
    }
    .sidebar{
        padding-top: 30px;
    }
}