.advert-text {
    font-size: 24px;
    font-weight: 600;
    color: white;
    line-height: 1.33;
    cursor: pointer;
}
.discount {
    font-size: 12px;
    font-weight: 700;
    color: #2ddf80;
    margin-bottom: 34px;
}
.advert-information {
    position: absolute;
    bottom: 20px;
    padding: 0 10px 0 20px;
}
.advert {
    background-image: url(./post_17.jpg);
    height: 260px;
    width: 240px;
    position: relative;
    margin-top: 80px;
}