.likedArticles{
    min-height: 440px;
    padding-top: 30px;
    padding-bottom: 15px;
    background-image: url(/static/media/post.c431821b.jpg);
}
.liked-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.liked-list-item{
    margin-right: 20px;
}
/* @media (max-width: 767px){
	.likedArticles{
        min-height: 440px;
    }
}
@media (min-width: 768px){
	.likedArticles{
        min-height: 440px;
    }
}
@media (min-width: 992px){
	.likedArticles{
        min-height: 440px;
    }
}
@media (min-width: 1200px){
	.likedArticles{
        min-height: 440px;
    }
} */