.likedArticles{
    min-height: 440px;
    padding-top: 30px;
    padding-bottom: 15px;
    background-image: url(/static/media/post.c431821b.jpg);
}
.liked-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.liked-list-item{
    margin-right: 20px;
}
@media (max-width: 767px){

}
@media (min-width: 768px){
	.liked-list-item{
        margin-right: 0px;
    }
}
@media (min-width: 992px){

}
@media (min-width: 1200px){

}