.mind {
    background-image: url("../../../../../common/srcimages/post_18.jpg");
    height: 140px;
    width: 230px;
    position: relative;
    line-height: 140px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
}
.mind-span {
    font-weight: 300;
    margin-right: 7px;
}