.comment-body{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    width: 555px;
    background-color: white;
    border-radius: 6px;
}
.margin-button{
	margin-top: 0;
}
.comment-content{
	font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    line-height: 1.45;
    font-weight: 500;
    color: rgba(0,0,0,0.5);
}
.comments-ul ul li > div{
	border-top: solid 1px #e5e5e5;
	border-radius: 6px;
}
.comments-ul ul li:first-child{
	border-top: none;
}
.comments-ul ul{
    margin-bottom: 10px;
    margin-top: 30px;
}
.comments{
	padding-bottom: 30px;
}