.post-form{
	background: #FFFFFF;
    border-radius: 6px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
    width: 555px;
    margin-top: 35px;
}
.post-form input{
	width: calc(50% - 15px);
    height: 42px;
    border: none;
    outline: none;
    border-bottom: solid 1px #cccccc;
    background: transparent;
    font-family: 'Ubuntu', sans-serif;
    color: #797979;
}
.post-form textarea{
	margin-top: 25px;
	width: 100%;
    height: 90px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: solid 1px #cccccc;
    padding-top: 11px;
    font-family: 'Ubuntu', sans-serif;
    color: #797979;
}
.post-button{
	width: 143px;
    height: 36px;
    background: rgba(45,223,128,0.1);
    color: rgba(45,223,128,1);
    border: none;
    outline: none;
    border-radius: 18px;
    cursor: pointer;
    transition: all 200ms ease;
    margin-top: 24px;
}
.post-button:hover{
	background: rgba(45,223,128,1);
    color: #FFFFFF;
}